##### Altium
History
__Previews
*.PrjPCBStructure
*.PrjPcbStructure

*.SchDocPreview
*.PcbDocPreview
Project Outputs for *
Project Logs for *

# PCB
# *.IntLib
# *.LOG

#### Kicad
*.bak
*.bck
*.raw
*.log
*.dcm
*.kicad_pcb-bak
*autosave*
*cache*

